### Q-2. Imagine you have a dataset where you have different features like Age ,Gender , Height , Weight , BMI , and Blood Pressure and you have to classify the people into different classes like Normal , Overweight , Obesity , Underweight , and Extreme Obesity by using any 4 different classification algorithms. Now you have to build a model which can classify people into different classes.

Dataset:https://www.kaggle.com/datasets/ankurbajaj9/obesity-levels

In [1]:

import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv('/content/ObesityDataSet_raw_and_data_sinthetic.csv')
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [3]:
df.isnull().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [4]:
## segregate numerical and categorical columns

numerical_columns=df.columns[df.dtypes!='object']
categorical_columns=df.columns[df.dtypes=='object']
print("Numerical columns:",numerical_columns)
print('Categorical Columns:',categorical_columns)

Numerical columns: Index(['Age', 'Height', 'Weight', 'FCVC', 'NCP', 'CH2O', 'FAF', 'TUE'], dtype='object')
Categorical Columns: Index(['Gender', 'family_history_with_overweight', 'FAVC', 'CAEC', 'SMOKE',
       'SCC', 'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [5]:


df.nunique()

Gender                               2
Age                               1402
Height                            1574
Weight                            1525
family_history_with_overweight       2
FAVC                                 2
FCVC                               810
NCP                                635
CAEC                                 4
SMOKE                                2
CH2O                              1268
SCC                                  2
FAF                               1190
TUE                               1129
CALC                                 4
MTRANS                               5
NObeyesdad                           7
dtype: int64

In [6]:


from sklearn.preprocessing import LabelEncoder

In [7]:


le = LabelEncoder()
df['NObeyesdad'] = le.fit_transform(df['NObeyesdad'])
df['SMOKE'] = le.fit_transform(df['SMOKE'])
df['MTRANS'] = le.fit_transform(df['MTRANS'])
df['family_history_with_overweight'] = le.fit_transform(df['family_history_with_overweight'])
df['CAEC'] = le.fit_transform(df['CAEC'])
df['CALC'] = le.fit_transform(df['CALC'])
df['FAVC'] = le.fit_transform(df['FAVC'])
df['SCC'] = le.fit_transform(df['SCC'])
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3,1
1,Female,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3,1
2,Male,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3,1
3,Male,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4,5
4,Male,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,6

In [8]:
target = df['NObeyesdad']
df.drop('NObeyesdad',axis = 'columns',inplace = True)
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3
1,Female,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3
2,Male,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3
3,Male,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4
4,Male,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3

In [10]:


sex_columns  = pd.get_dummies(df['Gender'])

In [11]:


df.drop(['Gender'],axis = 1, inplace = True)
df = df.join([sex_columns])
df.head()

,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,Male
0,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3,1,0
1,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3,1,0
2,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3,0,1
3,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4,0,1
4,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,0,1

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df,target,test_size = 0.2)

In [13]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [40]:
DecisionTreePipeline = Pipeline([('Decision_Tree',DecisionTreeClassifier())])
RandomForestClassifierPipeline = Pipeline([('RF_Classifier',RandomForestClassifier())])

In [41]:
mypipeline = [DecisionTreePipeline,RandomForestClassifierPipeline]

In [30]:


accuracy = 0.0
classifier = 0
pipeline = ""

In [31]:
X_train

,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,Male
886,19.478533,1.804099,85.196279,1,1,2.459976,3.308460,2,0,2.078011,0,1.779646,0.871772,2,3,0,1
1370,18.063582,1.633675,82.459577,1,1,2.921576,3.000000,2,0,1.003636,0,1.000227,0.905596,3,3,1,0
513,21.243142,1.598019,44.845655,0,0,3.000000,1.726260,1,0,2.444125,0,1.318170,0.000000,3,3,1,0
1943,21.391371,1.730636,131.902591,1,1,3.000000,3.000000,2,0,1.419136,0,1.700889,0.930888,2,3,1,0
1214,25.706285,1.585547,80.351263,1,1,2.000000,1.000000,2,0,2.000000,0,0.000000,0.000000,2,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,17.000000,1.750000,70.000000,1,0,2.000000,3.000000,2,0,1.000000,0,3.000000,2.000000,2,4,0,1
1113,18.000000,1.742819,86.565148,1,1,3.000000,3.000000,2,0,2.000000,0,2.040816,0.860321,2,3,0,1
1564,30.304203,1.703202,103.034400,1,1,2.754645,2.175432,2,0,1.541733,0,0.358709,1.073900,3,3,0,1
794,17.451085,1.600000,65.000000,1,1,3.000000,2.449723,2,0,2.000000,1,0.479592,1.720642,2,3,1,0
1218,22.679935,1.608400,82.603984,1,1,2.699282,1.000000,2,0,2.598632,0,0.292093,2.000000,2,3,1,0

In [42]:
pipelinedict = {0:'DecisionTreeClassifier',1:'RandomForestClassifier'}
for mypipe in mypipeline:
    mypipe.fit(X_train,y_train)

In [43]:


for i, model in enumerate(mypipeline):
    print('{} Test Score = {}'.format(pipelinedict[i],model.score(X_test,y_test)))

DecisionTreeClassifier Test Score = 0.9361702127659575
RandomForestClassifier Test Score = 0.9432624113475178